.flex-header{
    border-bottom: #000 1px solid;
    display: flex;
    align-items: center;
}
.flex-logo{
    display: flex;
    margin-right: auto;
    align-items: center;
}
#logo{
    width: 100px;
    border-radius: 50%; 
}

nav{
    display: none;
}