aside{
    padding: 1em;
    display: flex;
    flex-direction: column;
    flex-basis: 25%;
    flex-grow: 1;
}

form .text{
    display: block;
    width: 80%;
    margin-top: 0.5em;
    margin-bottom: 1em;
    background-color: lightgray;
    border: #050505 2px solid;
}
form .button{
    background-color: green;
    color: white;
    font-weight: 600;
    padding: 1em;
    border: black 2px solid;
    border-radius: 10%;
}

#advertising{
    margin-top: 50px;
    height: 40%;
    max-height: 600px;
    min-width: 250px;
    width: 90%;
    align-self: center;
}

#publicity{
    height: 100%;
}