body{
    margin: 0;
    padding: 0;
    font-size: 18px;
    background-color: lavender;
}
a{
    text-decoration: none;
}
img{
    width: 100%;
}

.flex-header{
    border-bottom: #000 1px solid;
    display: flex;
    align-items: center;
}
.flex-logo{
    display: flex;
    margin-right: auto;
}
#logo{
    width: 100px;
    border-radius: 50%; 
}

nav{
    display: none;
}

.flex-container{
    padding-top: 3em;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.all-notices{
    display: flex;
    flex-direction: column;
    flex-basis: 600px;
    flex-grow: 3;
}

#main-notice{
    border: gray 1px solid;
    margin: 10px;
    padding: 2em;
    color:aliceblue;
    text-shadow: 
    0 0 1px #000,
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
    background-image: url("../imgs/youtube.jfif");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    flex-basis: 200px;
}
h2{
    font-size: 2.5rem;
}
#main-notice p{
    font-size: 1.5rem;
}

#notices{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#more-notices{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.notice{
    border: gray 1px solid;
    padding: 0.5em;
    flex-basis: 250px;
    flex-grow: 1;
    margin: 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.notice a{
    color: #000;
}
.notice a:hover{
    text-decoration: underline;
}
.notice .more-info{
    border-top: gray 1px solid;
    font-size: 0.8em;
}

.other-notice{
    border: black 1px solid;
    padding: 0.5em;
    flex-basis: 250px;
    flex-grow: 1;
    margin: 5px;

    display: flex;
    justify-content: auto;
}
.other-notice figure{
    margin: 0 0.5em 0 0;
    width: 33%;
    flex-shrink: 0;
}
.other-notice figure img{
    height: 100%;
}
.btn{
    color: #000;
    border: #000 1px dashed;
    padding: 0.5em;
    align-self: flex-end;
}
.btn:hover{
    background-color: aqua;
}

aside{
    padding: 1em;
    display: flex;
    flex-direction: column;
    flex-basis: 25%;
    flex-grow: 1;
}

form .text{
    display: block;
    width: 80%;
    margin-top: 0.5em;
    margin-bottom: 1em;
    background-color: lightgray;
    border: #050505 0 0 0 1px solid;
}
form .btn{
    background-color: green;
    color: white;
    font-weight: 600;
    padding: 1em;
    border: black 2px solid;
    border-radius: 10%;
}

#advertising{
    margin-top: 50px;
    height: 25%;
    max-height: 500px;
}

#publicity{
    width: 90%;
    height: 100%;
}

.flex-footer{
    padding: 2em;
    border-bottom: gray 1px solid;
    background-color:gray;
    font-size: 0.8em;
    color: lavender;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.footer-info a{
    color: lavender;
}
.author{
    padding: 1em 0 1em 0;
    text-align: center;
}